option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: "arn:aws:acm:eu-west-1:974966015544:certificate/5c37c175-ba39-4668-bf80-6a4bff361593"
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: true
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: true
