@(notable: org.hatdex.hat.phata.models.Notable, preview: Boolean = false)

<div class="notable-item">
    <div class="notable-type"><span class="ss-@notable.kind ss-glyphish-filled"></span>@notable.kind</div>
    <div class="notable-header">
        <div class="user-photo">
            <img src="@notable.author.photo_url.getOrElse("/assets/images/user-icon-black.svg")" alt="@notable.author.phata" class="img-profile img-circle"/>
        </div>
        <div class="header-content" data-id="@notable.id">
            <h5>@notable.author.phata</h5>
            <span class="logged-time" data-logged="@notable.created_time.toString("dd MMMM YYYY HH:mm")">Logged @notable.created_time.toString("dd MMMM YYYY HH:mm")</span>
            <span>@notable.shared</span>
            <span>@notable.public_until</span>
        </div>
    </div>
    <div class="notable-content" data-content="@notable.message">
    @if(preview) {
        @Html(notable.message.split("\n").take(5).mkString("\n"))

        <a role="button" class="btn btn-preview center-block" href="/notables?id=@notable.id">Read More</a>
    } else {
        @Html(notable.message)
    }
    </div>
</div>
