[submodule "hat-database-schema"]
	path = hat/conf/evolutions/hat-database-schema
	url = https://github.com/Hub-of-all-Things/hat-database-schema.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Hub-of-all-Things/Rumpel.git
