/.idea/
*~
target/
*.log
*.iml
/\.target/
/\.cache
/\.project
/\.classpath
/.settings/org.scala-ide.sdt.core.prefs
.DS_Store
codegen/src/main/resources/application.conf
/src/main/resources/application.conf
/src/main/resources/database.conf
