/.idea/
*~
target/
*.log
*.iml
/\.target/
/\.cache
/\.project
/\.classpath
/.settings/org.scala-ide.sdt.core.prefs
.DS_Store
/codegen/src/main/resources/database.conf
/src/main/resources/database.conf
*.back
/deployment/docker-deploy
*.pem
deployment/docker/docker-deploy
/deployment/docker/docker-deploy/
.ensime*
