<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%-5level] [%date{MM/dd/YYYY HH:mm:ss}] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/akka.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%-5level] [%date{MM/dd/YYYY HH:mm:ss}] [%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <appender name="ASYNCCONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>

    <!-- if you want to dump different packages to different files, here's where you do it
            <logger name="com.onuspride" level="DEBUG" additivity="false">
            <appender-ref ref="logFileOutput"/>
        </logger>-->

    <logger name="akka" level="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNCFILE"/>
    </root>

    <logger name="API-Access" LEVEL="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="Stats" LEVEL="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="tests" LEVEL="DEBUG">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <root level="DEBUG">
    </root>

    <logger name="scala.slick.session" LEVEL="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

</configuration>