<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%-5level] [%date{MM/dd/YYYY HH:mm:ss}] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCCONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>

    <logger name="akka" level="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </root>

    <logger name="API-Access" LEVEL="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="Stats" LEVEL="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="tests" LEVEL="DEBUG">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="SchemaMigration" LEVEL="DEBUG">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="scala.slick.session" LEVEL="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="akka.event.slf4j.Slf4jLogger" LEVEL="WARN">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="JwtPhataAuthentication" LEVEL="DEBUG">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>


    <logger name="org.hatdex.hat.api.controllers.Users" LEVEL="DEBUG">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="org.hatdex.hat.authentication" LEVEL="DEBUG">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="com.mohiva.play.silhouette" LEVEL="DEBUG">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="HatServerProvider" LEVEL="DEBUG">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>

    <logger name="http" LEVEL="INFO">
        <appender-ref ref="ASYNCCONSOLE"/>
    </logger>


</configuration>