@import hatdex.hat.api.models.HatService
@import hatdex.hat.authentication.models.User
@(user: User, services: Seq[HatService])

@main(s"HAT - Welcome back ${user.name}", Some(user)) {
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">You are now logged on to your HAT</h1>
            <h1 class="text-center">Where would you like to go?</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="center-block">
            @services.map { case service =>
            <a href="@service.url">
                <div class="hatservice">
                    <div class="thumbnail">
                        <img src="@service.logoUrl" alt="@service.title" class="img img-responsive img-rounded profile-img" />
                        <div class="caption">
                            <h4>@service.title</h4>
                            <p>@service.description</p>
                        </div>
                    </div>
                </div>
            </a>
            }
        </div>
    </div>
}