@import hatdex.hat.api.models.HatService
@import hatdex.hat.authentication.models.User
@(user: User, services: Seq[HatService], parameters: Map[String, Map[String, String]])

@hatname = @{
    parameters.get("hat").flatMap(_.get("hatName"))
}

@menubarcontent = @{
    components.menubarLeft(None, hatname, hatAddress = parameters.get("hat").flatMap(_.get("hatAddress")), tab = "launcher")
}

@scripts = {
    <script>
            (function(){
                // Tab location hash handling
                if (location.hash !== '') {
                    $('a[href="' + location.hash + '"]').tab('show');
                }
                $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                    return location.hash = $(e.target).attr('href').substr(1);
                });
            })();
    </script>
}

@main(s"HAT - Welcome back ${user.name}", Some(user), menubarContent = menubarcontent, scripts = scripts) {

    <div class="launcher-content">

            <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#apps" aria-controls="apps" role="tab" data-toggle="tab">
                <span class="title">
                    Apps
                </span>
            </a></li>
            <li role="presentation"><a href="#dataplugs" aria-controls="dataplugs" role="tab" data-toggle="tab">
                <span class="title">
                    Data Plugs
                </span>
            </a></li>
        </ul>

            <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="apps">
                <div class="app-category">
                    @services.map { service =>
                        <div class="app-item centered">
                            <div>
                                <div class="app-item-info">
                                    <img src="@service.logoUrl" alt="@service.title" class="app-item-illustration img-rounded" />
                                    <div class="caption">
                                        <h2>@service.title</h2>
                                        <p>@service.description</p>
                                    </div>
                                </div>
                                <a href="@service.url" type="button" class="btn btn-lg launcher-button">Launch</a>
                            </div>
                        </div>
                    }

                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="dataplugs">
                <div class="app-category">
                    <div class="comingsoon">
                        <h1>Data Plugs - Coming Soon</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
}