@import hatdex.hat.authentication.models.User
@(user: User, resetLink: String)
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>Hi @user.name,</p>

        <p>You have requested the password of your HAT to be reset. If it was really you and you would like to proceed, please click on this link to login temporarily to reset your password:</p>

        <p>
            <a href="@resetLink">@resetLink</a>
        </p>

        <p>
            Best, <br />
            Your own HAT
        </p>
    </body>
</html>