@(parameters: Map[String, Map[String, String]])
@meta = {
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@thehatdex">
    <meta name="twitter:title" content="Personal HAT page @parameters.get("hat").flatMap(_.get("hatName"))">
    <meta name="twitter:description" content="Welcome to my HAT">
    <meta name="twitter:image:src" content="https://@parameters.get("hat").map(_.getOrElse("hatAddress", ""))/assets/images/HAT_logo_mydata.png">
    <meta name="twitter:domain" content="https://@parameters.get("hat").map(_.getOrElse("hatAddress", ""))">
    <meta property="og:url" content="https://@parameters.get("hat").map(_.getOrElse("hatAddress", ""))" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Personal HAT page @parameters.get("hat").flatMap(_.get("hatName"))" />
    <meta property="og:description" content="Welcome to my HAT" />
    <meta property="og:image" content="https://@parameters.get("hat").map(_.getOrElse("hatAddress", ""))/assets/images/HAT_logo_mydata.png" />
    <meta property="og:site_name" content="HAT" />
    <meta property="og:app_id" content="158753364485419" />

}
@main("Welcome to the HAT", hatName = parameters.get("hat").flatMap(_.get("hatName")), meta = meta) {
    <div class="row profile">
        <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1">
            @if(parameters.get("profile").isDefined) {
                @parameters.get("profile").map { profile =>
                    <img src="@profile.get("profile_picture").getOrElse("/assets/images/certified.png")" alt="HAT" class="img img-responsive img-rounded profile-img" />
                    <h3>@profile.getOrElse("personal", "")</h3>
                @profile.get("nick").map { v => <h4>Nick:&nbsp;@v</h4> }
                @profile.get("age").map { v => <h4>Age:&nbsp;@v</h4> }
                @profile.get("birthDate").map { v => <h4>Birth&nbsp;Date:&nbsp;@v</h4> }
                @profile.get("gender").map { v => <h4>Gender:&nbsp;@v</h4> }

                @profile.get("address_global").map { v => <h4>@v</h4> }
                }
            } else {
                <img src="/assets/images/certified.png" alt="HAT" class="img img-responsive img-rounded profile-img" />
            }
            @parameters.get("contact").map { profile =>
                <h3>Contact:</h3>
                @profile.get("primary_email").map { v => <h4>e:&nbsp;@v</h4> }
                @profile.get("alternative_email").map { v => <h4>e:&nbsp;@v</h4> }
                @profile.get("mobile").map { v => <h4>Mobile:&nbsp;@v</h4> }
                @profile.get("home_phone").map { v => <h4>Phone:&nbsp;@v</h4> }
            }
        </div>
        <div class="col-xs-8 col-sm-9 col-md-8">
            @parameters.get("about").map { about =>
                <h1>
                    @about("title")
                </h1>
                <p>
                @about("body")
                </p>
            }
            @parameters.get("links").map { links =>
                <h3>Find me on:</h3>
                <ul>
                    @links.map { case (key, value) =>
                    <li><a href="@value">@key - @value</a></li>
                    }
                </ul>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1">
            <a role="button" class="btn btn-primary">@parameters.get("hat").map(_.getOrElse("hatAddress", ""))</a>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-8">
            <a role="button" class="btn btn-primary btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://@parameters.get("hat").map(_.getOrElse("hatAddress", ""))" target="_blank">Facebook</a>
            <a role="button" class="btn btn-primary btn-twitter" href="https://twitter.com/intent/tweet?url=https://@parameters.get("hat").map(_.getOrElse("hatAddress", ""))" target="_blank">Twitter</a>
        </div>
    </div>
}