@(parameters: Map[String, Map[String, String]])
@main("Welcome to the HAT", hatName = parameters.get("hat").flatMap(_.get("hatName"))) {
    <div class="row profile">
        <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1">
            @if(parameters.get("profile").isDefined) {
                @parameters.get("profile").map { profile =>
                    <img src="@profile.get("profile_picture").getOrElse("/assets/images/certified.png")" alt="HAT" class="img img-responsive img-rounded profile-img" />
                    <h3>@profile("personal")</h3>
                @profile.get("nick").map { v => <h4>Nick: @v</h4> }
                @profile.get("age").map { v => <h4>Age: @v</h4> }
                @profile.get("birthDate").map { v => <h4>Birth Date: @v</h4> }
                @profile.get("gender").map { v => <h4>Gender: @v</h4> }

                @profile.get("address_global").map { v => <h4>@v</h4> }
                }
            } else {
                <img src="/assets/images/certified.png" alt="HAT" class="img img-responsive img-rounded profile-img" />
            }
            @parameters.get("contact").map { profile =>
                <h3>Contact:</h3>
                @profile.get("primary_email").map { v => <h4>e: @v</h4> }
                @profile.get("alternative_email").map { v => <h4>e: @v</h4> }
                @profile.get("mobile").map { v => <h4>Mobile: @v</h4> }
                @profile.get("home_phone").map { v => <h4>Phone: @v</h4> }
            }
        </div>
        <div class="col-xs-8 col-sm-9 col-md-8">
            @parameters.get("about").map { about =>
                <h1>
                    @about("title")
                </h1>
                <p>
                @about("body")
                </p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1">
            <a role="button" class="btn btn-primary">@parameters.get("hat").map(_.getOrElse("hatAddress", ""))</a>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-8">
        @parameters.get("links").map { links =>
            @links.map { case (key, value) =>
            <a role="button" class="btn btn-primary" href="@value">@key</a>
            }
        }
        </div>
    </div>
}