@main("Welcome to the HAT") {
    <div class="row profile">
        <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1">
            <img src="/assets/images/certified.png" alt="HAT" class="img img-responsive img-rounded profile-img" />
        </div>
        <div class="col-xs-8 col-sm-9 col-md-8">
            <h1>
                Name
            </h1>
            <h3>
                About:
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1">
            <a role="button" class="btn btn-primary">www.yourdomain.com</a>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-8">
            <a role="button" class="btn btn-primary">Twitter</a>
            <a role="button" class="btn btn-primary">LinkedIn</a>
            <a role="button" class="btn btn-primary">Facebook</a>
            <a role="button" class="btn btn-primary">MarketSquare</a>
        </div>
    </div>
}