@(loginServiceName: String, loginServiceUrl: String, parameters: Map[String, Map[String, String]])

@main(s"HAT Login", None, hatName = parameters.get("hat").flatMap(_.get("hatName"))) {
    <div class="login-content">
        <div class="logo">
            <img src="/assets/images/haticon.png" class="img img-responsive">
        </div>

        <h1 class="subtext">Please Log In</h1>

        <corm class="form" action="/" method="post">
            <input type="hidden" class="form-control" id="inputHatName" name="username" placeholder="HAT Name" value="@parameters.get("hat").flatMap(_.get("hatName"))">
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
            </div>

            <input type="hidden" name="name" value="@loginServiceName">
            <input type="hidden" name="redirect" value="@loginServiceUrl">

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" value="remember"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-login">Sign in</button>

        </corm>
        <p class="subtext">
            <a href="/passwordreset">
                Forgot Password
            </a>
        </p>
    </div>

}