devdb = {
  dataSourceClass = "org.postgresql.ds.PGSimpleDataSource"
  properties = {
    databaseName = "%DATABASE%"
    user = "%DBUSER%"
    password = "%DBPASS%"
    serverName = "%SERVERNAME%"
  }
  numThreads = 3
}