@import "bootstrap";


$base-white: white;
$base-black: black;
$base-color: rgb(188, 51, 51); /*rgb(233, 58, 63);*/
$base-active-color: rgb(17, 134, 117);
$text-light: white;
$text-dark: lighten(black, 20%);
$base-background-color: #535353;

body {
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 11px;
  font-weight: 500;
  background: black;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.container-fluid.content {
  min-height: 80vh;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/images/hat_foundation.jpg');*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  padding-top: 10em;
  padding-bottom: 10em;
}

.profile p {
  font-size: 1.6em;
}

.profile h1 {
  margin-top: 0;
}

.simpleMessage {
  margin-top: 10em;
}

.profile-private {
  margin-top: 10em;
  text-align: center;
}

.profile-private h1 {
  font-size: 4em;
}

.profile-img {
  padding: 1em;
}

.btn-primary {
  background-color: #535353;
  color: white;
  font-weight: 700;
  border-color: #535353;
}

.btn-primary:hover {
  color: white;
  background-color: #a0a0a0;
  border-color: #535353;
}

.btn-main {
  color: white;
  font-weight: 700;
  border-color: rgb(17, 134, 117);
  background-color: rgb(17, 134, 117);
}

.btn-main:hover {
  color: white;
  background-color: #a0a0a0;
}

.navbar {
  margin-bottom: 0;
  background: #a0a0a0;
  color: white;
  border: none;
  border-radius: 0;
}

.navbar .navbar-brand {
  font-size: 1.6em;
  color: white;
  padding-left: 1.1em;
}

.navbar .navbar-brand.navbar-brand-main {
  font-weight: 900;
}

.navbar .navbar-brand.navbar-brand-main img {
  height: 1.6em;
}

/*.navbar-default, footer {*/
/*background-image: url("/assets/images/concrete_wall_2.png");*/
/*background-repeat: repeat;*/
/*}*/

.navbar-form .form-control {
  font-size: 1.1em;
}

.navbar-btn {
  float: left;
}

.navbar-text {
  //font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: $text-light;
}

.navbar li {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.1em;
  border-left: 1px solid $base-white;
  &:first-child {
    border-left: none;
  }
  a {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:hover {
    background: transparent;
    a:hover {
      background: transparent;
    }
  }
}

.btn {
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

a {
  color: white;
  font-size: 1.2em;
}

a:hover {
  color: white;
}

.hatservice {
  width: 200px;
  height: 250px;
  margin-top: 20px;
  display: inline-block;
}

.hatservice .thumbnail {
  height: 100%;
  background: transparent;
  border: 0;
}

.hatservice .thumbnail img {
  background: transparent;
}

.hatservice .thumbnail .caption {
  color: white;
}

.hatservice h4 {
  height: 2.2em;
}

.btn-facebook {
  background: #3b5998;
  color: white;
  border-color: #3b5998;
}

.btn-twitter {
  background: #2CA7E0;
  color: white;
  border-color: #2CA7E0;
}

footer {
  position: relative;
  text-align: left;
  font-size: 1em;
  padding: 2em;
  color: #333232;
  padding-right: 10em;
  padding-left: 10em;
  min-height: 10em;
  background: white;
}

@media (min-width: 769px) {
  footer {
    padding-right: 20em;
    padding-left: 2em;
  }
}

footer .certified {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

footer .certified img {
  width: 6em;
  height: auto;
}

footer .copyright a {
  color: rgb(17, 134, 117);
  font-weight: bold;
  font-size: 1.2em;
}

.menubar-left {
  min-width: 7em;
  width: 7em;
  background: black;
  color: white;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
}

.menubar-left ul {
  list-style: none;
  padding: 0;
}

.menubar-left ul li {
  text-align: center;
  width: 7em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.menubar-left ul li .title {
  font-size: 1.2em;
}

.menubar-left ul li:nth-child(1) {
  background: #a0a0a0;
}

.menubar-left ul li:nth-child(2) {
  background: #797979;
}

.menubar-left ul li:nth-child(3) {
  background: #535353;
}

.menubar-left ul li:nth-child(4) {
  background: #2d2d2d;
}

.menubar-left ul li:nth-child(5) {
  background: #070707;
}

.menubar-left ul li:nth-child(6) {
  background: #000000;
}

.menubar-left ul li.share {
  position: relative;
  bottom: 0;
  background: rgb(17, 134, 117);
}

.menubar-left ul li.active {
  background: $base-active-color;
}


.menubar-left ul li:hover {
  background: $base-active-color;
}

.menubar-left span {
  font-size: 2.778em;
  display: block;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.active {
  background: #535353;
}

.content-main {
  float: right;
  width: calc(100% - 7em);
}

.content-grid {
  overflow: hidden;
  min-height: 75vh;
  color: white;
  padding-left: 0;
  padding-right: 0;
  background: url("/assets/images/tiled-bg.png");
}

.grid {
  /*margin-top: 10em;*/
}

.wrapper {
  width: 100%;
  position: relative;
}

.grid-item {
  width: 50%;
  float: left;
  .box-content {
    background: lighten(#a0a0a0, 20%);
  }

  .icon {
    color: $base-active-color;
  }
}

.box-square.aspect-ratio {
  padding-bottom: 100%;
}

.box-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em; /* Optional padding for content area */
  overflow: hidden;
}

.box-content.box-photos {
  padding: 0;
  background: transparent;
}

.box-content.box-photos img {
  //min-width: 100%;
  //min-height: 100%;
  height: 50%;
  width: 50%;
  margin: auto;
}

.box-content.about-me {
  border-width: 2em 0em 2em 2em;
  padding-right: 6em;
  border-style: solid;
  border-color: rgb(17, 134, 117);
  background: rgb(17, 134, 117);

  .icon {
    color: $text-light;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0.8em;
  }

  p {
    line-height: 1.2em;
    font-size: 1.8em;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .findme {
    position: absolute;
    right: 0;
    top: 1em;
  }
  .findme .findme-link {
    width: 1.5em;
    height: 1.3em;
    margin-top: 0.25em;
    font-size: 2.5em;
    padding-left: 0.2em;
    background: white
  }
}

.box-content.more-about-me {
  background: lighten(#2d2d2d, 70%);
  color: $text-dark;
}

.box-content.notes {
  background: lighten(#2d2d2d, 80%);
  color: $text-dark;
}

.contactme {
  display: block;
  width: 100%;
}

.contactme .contact {
  width: 50%;
  display: block;
}


.launcher-content {
  min-height: 75vh;
  margin: 10em;
  .nav-tabs.nav-justified {
    //@media (min-width: $screen-xs-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
    //}

    li a {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: lighter;
      text-transform: uppercase;
      background: $base-background-color;
      opacity: 0.6;
      font-size: 1.86em;
      border: 0;
      border-radius: 0;
      margin-left: 0.5em;
      margin-right: 0.5em;
      color: $text-light;

      span.title {
        min-width: 3em;
        display: block;
      }

      &:hover {
        opacity: 1;
        color: $text-light;
      }
    }
    li:first-child a{
      margin-left: 0;
    }
    li:last-child a {
      margin-right: 0;
    }
    li.active a {
      background: $base-color;
      opacity: 1;
      color: $text-light;
      &:hover {
        border: 0;
      }
    }

  }


}

.app-category, .app-info {
  background: rgb(236, 236, 236);
  color: black;
  min-height: 60vh;

  width: 100%;
  $item-height: 17em;
  @include make-row();
  text-align:center;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
  padding-top: 15em;
  margin-left: 0;
  margin-right: 0;

  /* clearfix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .app-item {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    @include make-lg-column(4);
    margin-bottom: 10em;

    h1, h2, h3, h4, h5 {
      font-family: 'Open Sans Condensed', sans-serif;
    }
    h2 {
      font-size: 2.7em;
    }

    &.centered {
      display: inline-block;
      float: none;
      /* reset the text-align */
      text-align: left;
      /* inline-block space fix */
      margin-right: -4px;
    }

    .app-item-info {
      height: $item-height;
      text-align: center;
      padding: 1em;
      width: 100%;
      background: $base-white;
      //margin-left: 1em;
      //margin-right: 1em;
      //position: relative;

      .caption p {
        font-size: 1.6em;
        font-family: 'Open Sans Condensed', sans-serif;
      }
    }

    .popover{
      width: 190%; /* Max Width of the popover (depending on the container!) */
    }

    .app-item-illustration {
      //@extend .img;
      max-width: 66%;
      @extend .center-block;
      background: $base-white;
      //border-radius: 1em;
      font-size: 1.2em;
      max-height: 10em;
      width: 10em;
      margin-top: -6.6em;
      border-radius:5em;
      border-width: 1em;
      border-style: solid;
      border-color: $base-white;
    }


    .launcher-button {
      width: 100%;
      background: $base-color;
      color: $text-light;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 2.5em;
      border-radius: 0;
    }

  }

  h1, h2, h3, h4, h5 {
    text-transform: capitalize;
  }
}

@import "fontawesome/font-awesome";

.fa.fa-web {
  @extend .fa-globe;
}
.fa.fa-blog {
  @extend .fa-pencil;
}

.about-me .findme a div.findme-link {
  &.web {
    background: #9C0;
  }

  &.facebook {
    background: #3b5998;
  }

  &.linkedin {
    background: #0077b5;
  }

  &.twitter {
    background: #00a0d1;
  }

  &.pinterest {
    background: #910101;
  }

  &.blog {
    background: #c4302b;
  }

  &.youtube {
    background: #c4302b;
  }

  &.tumblr {
    background: #34526f;
  }

  &.flickr {
    background: #F3F;
  }

  &.digg {
    background: #036;
  }

  &.delicious {
    background: #03C;
  }

  &.smashmag {
    background: #F30;
  }

  &.email {
    background: #9C0;
  }

  &.stackoverflow {
    background: #F60;
  }

  &.vimeo {
    background: #069;
  }

  &.google-plus {
    background: #dd4b39;
  }
}

.share {
  .fa-facebook {
    width: 1.1em;
    padding: 0.1em;
    background: #3b5998;
    font-size: 2em;
  }

  .fa-twitter {
    width: 1.1em;
    padding: 0.1em;
    background: #00a0d1;
    font-size: 2em;
  }
}

@import "login";
