devdb = {
  dataSourceClass = "org.postgresql.ds.PGSimpleDataSource"
  properties = {
    databaseName = ${?POSTGRES_DB}
    user = ${?POSTGRES_USER}
    password = ${?POSTGRES_PASSWORD}
    serverName = hat-postgres-${?HAT_OWNER_NAME}
  }
  numThreads = 3
}