@(maybeUser: Option[org.hatdex.hat.authentication.models.HatUser] = None
)(implicit hatPublicInfo: org.hatdex.hat.phata.models.HatPublicInfo, requestHeader: RequestHeader, messages: Messages)

@import org.hatdex.hat.phata.views.html._

@menubarcontent = @{
    components.menubarLeft(None, Some(hatPublicInfo.hatName), hatAddress = Some(hatPublicInfo.domain), tab = "index")
}

@main("Welcome to the HAT", maybeUser, hatName = Some(hatPublicInfo.hatName), menubarContent = menubarcontent) {
    <div class="row profile profile-private">
        <div class="col-md-offset-1 col-md-10">
            <h1>Private Profile</h1>
            <h2>The user has made this Profile Private</h2>
        </div>
    </div>
}