@(
        parameters: Map[String, Map[String, String]],
        maybeUser: Option[org.hatdex.hat.authentication.models.HatUser] = None,
        notables: Seq[org.hatdex.hat.phata.models.Notable] = Seq.empty
)(implicit hatPublicInfo: org.hatdex.hat.phata.models.HatPublicInfo, requestHeader: RequestHeader, messages: Messages)

@import org.hatdex.hat.phata.views.html._

@meta = {
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@thehatdex">
    <meta name="twitter:title" content="Personal HAT page @hatPublicInfo.domain">
    <meta name="twitter:description" content="Welcome to my HAT">
    <meta name="twitter:image:src" content="https://@hatPublicInfo.domain/assets/images/HAT_logo_mydata.png">
    <meta name="twitter:domain" content="https://@hatPublicInfo.domain">
    <meta property="og:url" content="https://@hatPublicInfo.domain" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Personal HAT page @hatPublicInfo.domain" />
    <meta property="og:description" content="Welcome to my HAT" />
    <meta property="og:image" content="https://@hatPublicInfo.domain/assets/images/HAT_logo_mydata.png" />
    <meta property="og:site_name" content="HAT" />
    <meta property="og:app_id" content="158753364485419" />

}

@menubarcontent = @{
    components.menubarLeft(None, Some(hatPublicInfo.hatName), hatAddress = Some(hatPublicInfo.domain), tab = "index")
}

@notablesscripts = {
    <script>
            $(".notable-item").click(function(){
                var id = $(".header-content", this).data("id");
                location.href = "/notables?id=" + id;
            })
    </script>
}

@main("Welcome to the HAT", maybeUser, hatName = Some(hatPublicInfo.hatName), menubarContent = menubarcontent, meta = meta, scripts = notablesscripts) {
    <div class="grid">
        <div class="wrapper grid-item">
            <div class="box-square aspect-ratio"></div>
            <div class="box-content box-photos">
            @if(parameters.get("profile").isDefined) {
                @parameters.get("profile").map { profile =>
                    <img src="@profile.get("profile_picture").getOrElse("/assets/images/user-icon-white.svg")" alt="HAT" class="img img-responsive img-rounded  profile-img" />
                }
            } else {
                <img src="/assets/images/user-icon-white.svg" alt="HAT" class="img img-responsive img-rounded profile-img" />
            }
            </div>
        </div>
        <div class="wrapper grid-item">
            <div class="box-square aspect-ratio"></div>
            <div class="box-content about-me">
                <div class="about-me-wrapper">
                    <h1>
                        <span class="icon ss-user"></span>&nbsp;
                        @hatPublicInfo.domain
                    </h1>

                    @if(parameters.get("profile").isDefined) {
                        @parameters.get("profile").map { profile =>
                            <h1>
                                @profile.getOrElse("personal", "")
                            </h1>
                        }
                    }

                    @parameters.get("about").map { about =>
                        <h1>
                            @about("title")
                        </h1>
                        <p>
                        @about("body")
                        </p>
                    }

                    <div class="contactme">
                    @parameters.get("contact").map { profile =>
                        @profile.get("primary_email").map { v =>
                            <div class="contact">
                                <h4><span class="icon ss-mail"></span>&nbsp;@v</h4>
                            </div>
                        }
                        @profile.get("alternative_email").map { v =>
                            <div class="contact">
                                <h4><span class="icon ss-mail"></span>&nbsp;@v</h4>
                            </div>
                        }
                        @profile.get("mobile").map { v =>
                            <div class="contact">
                                <h4><span class="icon ss-phone"></span>&nbsp;@v</h4>
                            </div>
                        }
                        @profile.get("home_phone").map { v =>
                            <div class="contact">
                                <h4><span class="icon ss-phone"></span>&nbsp;@v</h4>
                            </div>
                        }
                    }
                    </div>
                </div>

                <div class="findme">
                @parameters.get("links").map { links =>
                    @links.map { case (key, value) =>
                    <a href="@value">
                        <div class="findme-link @key.toLowerCase">
                        <i class="fa fa-@key.toLowerCase"></i>
                        </div>
                    </a>
                    }
                }
                </div>
            </div>
        </div>

        @components.notablesTiles(notables)
    </div>

}