@(passwordResetForm: Form[String])
@import org.hatdex.hat.phata.views.html._
@main(s"HAT - Reset password", None) {
    <div class="login-content">
        <div class="logo">
            <img src="/assets/images/haticon.png" class="img img-responsive">
        </div>

        <h1 class="subtextr">If you are the owner of this HAT, please enter your registered email address</h1>

        <form class="form" action="/passwordreset" method="post">
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="email" class="form-control hat-input" id="email" name="email" placeholder="Email">
            </div>

            <button type="submit" class="btn btn-login">Reset Password</button>

        </form>
    </div>
}