@(user: org.hatdex.hat.authentication.models.HatUser)(
        implicit hatPublicInfo: org.hatdex.hat.phata.models.HatPublicInfo,
        requestHeader: RequestHeader, messages: Messages)

@import org.hatdex.hat.phata.controllers.{routes => hatRoutes}
@import org.hatdex.hat.phata.views.html._

@menubarcontent = @{
    components.menubarLeft(None, Some(hatPublicInfo.hatName), hatAddress = Some(hatPublicInfo.domain), tab = "login")
}

@main(s"HAT - Password Reset success", Some(user), menubarContent = menubarcontent) {
    <div class="login-content">
        <div class="logo">
            <img src="@routes.Assets.versioned("/images/haticon.png")" class="img img-responsive">
        </div>

        <h1 class="subtext">Password reset</h1>

        <div class="row">
            <div class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3">
                <div class="alert alert-danger">
                    Your password has been reset. Go back to your <a href="@hatRoutes.Phata.launcher()">Launcher</a>
                </div>
            </div>
        </div>
    </div>

}
