@(user: org.hatdex.hat.authentication.models.HatUser, errors: Seq[String], changed: Boolean = false)(implicit hatPublicInfo: org.hatdex.hat.phata.models.HatPublicInfo, requestHeader: RequestHeader, messages: Messages)

@import org.hatdex.hat.phata.views.html._

@menubarcontent = @{
    components.menubarLeft(None, Some(hatPublicInfo.hatName), hatAddress = Some(hatPublicInfo.domain), tab = "login")
}

@main(s"HAT - Change password", Some(user), menubarContent = menubarcontent) {
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        @if(changed) {
            <h1 class="text-center">Your password has been changed</h1>
        } else {
            <h1 class="text-center">Please re-enter your old password and choose a new one:</h1>
        }
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">

            @if(changed) {

            } else {
                @if(errors.nonEmpty) {
                    <h3>Please fix the following problems:</h3>
                    <ul class="list-unstyled">
                        @errors.map { err =>
                            <li>@err</li>
                        }
                    </ul>
                }
            <form class="form-horizontal" action="/password" method="post">
                <div class="form-group">
                    <label for="oldPassword" class="col-sm-2 control-label">Old Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="old password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword" class="col-sm-2 control-label">New Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="new password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-sm-2 control-label">Confirm New Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="cofirm new password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Change password</button>
                    </div>
                </div>
            </form>
            }

        </div>
    </div>
}