@import play.api.mvc._
@import controllers.AssetsFinder
@import play.twirl.api.Html
@(configScript: String, assets: AssetsFinder)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hub of All Things @request.host</title>
        <base href="/">
        <script>@Html(configScript)</script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@@hubofallthings">
        <meta name="twitter:title" content="Hub of All Things">
        <meta name="twitter:description" content="HATs are individual secure and private storage containers that are specially designed to hold the database of a user's personal data: a private 'data account' (like a savings/current account) to hold your data from the most trivial to the most precious.">
        <meta name="twitter:image:src" content="@assets.path("images/hat_logo.png")">
        <meta name="twitter:domain" content="https://hubofallthings.com">
        <meta property="og:url" content="https://hubofallthings.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Hub of All Things" />
        <meta property="og:description" content="HATs are individual secure and private storage containers that are specially designed to hold the database of a user's personal data: a private 'data account' (like a savings/current account) to hold your data from the most trivial to the most precious." />
        <meta property="og:image" content="@assets.path("images/hat_logo.png")" />
        <meta property="og:site_name" content="Hub of All Things" />
        <meta property="og:app_id" content="158753364485419" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:200,300i,400,600,700">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.2.0/MarkerCluster.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.2.0/MarkerCluster.Default.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" type="text/css" href="@assets.path("webfonts/filled/ss-glyphish-filled.css")">
        <link rel="stylesheet" type="text/css" href="@assets.path("webfonts/outlined/ss-glyphish-outlined.css")">
        <link rel="stylesheet" type="text/css" href="@assets.path("stylesheets/styles.bundle.css")">
        <link rel="icon" type="image/x-icon" href="@assets.path("favicon.ico")">
        <style>
            body {
              background-color: #f6f6f6;
            }

            .loading {
              position: absolute;
              top: 50%;
              left: 50%;
              height: 200px;
              width: 200px;
              margin: -100px 0 0 -100px;
              text-align: center;
            }

            .drp-spinner {
              margin: 20px auto;
              height: 75px;
              width: 75px;
            }

            .loading-text {
              color: rgba(74, 85, 107, 0.6);
              font-size: 14px;
              font-variant: small-caps;
              text-align: center;
            }
        </style>
    </head>
    <body>
        <rum-app>
          <div class="loading">
              <img class="drp-spinner" src="@assets.path("icons/drp-navy-spinner.gif")" alt="HAT - Data Rights Protected" />
              <div class="loading-text">Loading your dashboard... Please refresh if you see this screen for more than a few seconds.</div>
          </div>
        </rum-app>
    </body>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.1/packery.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
    <script type="text/javascript" src="@assets.path("js/zxcvbn.min.js")"></script>

    <script type="text/javascript" src="@assets.path("js/runtime.bundle.js")"></script>
    <script type="text/javascript" src="@assets.path("js/polyfills.bundle.js")"></script>
    <script type="text/javascript" src="@assets.path("js/main.bundle.js")"></script>
</html>
