devdb = {
  dataSourceClass = "org.postgresql.ds.PGSimpleDataSource"
  properties = {
    databaseName = ${?POSTGRES_DB}
    user = ${?POSTGRES_USER}
    password = ${?POSTGRES_PASSWORD}
    serverName = ${?POSTGRES_HOST}
    portNumber = ${?POSTGRES_PORT}
  }
  numThreads = 3
}