@(hatDomain: String, claimLink: String, application: org.hatdex.hat.api.models.applications.HatApplication)

@emailTemplateMC(s"Claim your HAT - ${hatDomain}", hatDomain, s"Claim your HAT - ${hatDomain}") {
    <p>Welcome!</p>
    <p>@hatDomain</p>

    <p>A HAT with the above URL has been created at the request of</p>

    <img src="@application.application.info.graphics.logo.normal" />

    <p>
        Please <a href="@claimLink">click here</a> to finish up setting up your HAT. You have 7 days to claim your HAT
            after which it will automatically expire and all its data will be deleted.
    </p>

    <p>
        If you claim your HAT within 7 days, you will get:

        <ul>
            <li>A free HAT Microserver account with your own URL.</li>
            <li>100 Mb storage to begin with.</li>
            <li>Your own HAT Microserver with private 'AI' and legal ownership rights to control and share personal data in real time and on demand.</li>
        </ul>
    </p>

    <p>Not you? If you believe that you are receiving this email by mistake,
        let us know immediately at <a href="mailto:contact@@hatdex.org">contact@@hatdex.org</a></p>
}