@(user: org.hatdex.hat.authentication.models.HatUser)
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>Hi @user.name,</p>

        <p>You have successfully changed your HAT password. Return to launcher.</p>

        <p>Not you? If you did not recently change your HAT password, or believe that you are receiving this email by mistake, let us know immediately at <a href="mailto:contact@@hatdex.org">contact@@hatdex.org</a></p>

        <p>
            HATDeX Team
        </p>
    </body>
</html>