@(user: org.hatdex.hat.authentication.models.HatUser, hatDomain: String)

@emailTemplateMC(s"Reset your password for ${hatDomain}", hatDomain, s"Reset your password for ${hatDomain}") {
    <p>Hi @user.name,</p>

    <p>You have successfully changed your @hatDomain HAT password. Return to launcher.</p>

    <p>Not you? If you did not recently change your HAT password, or believe that you are receiving this email by mistake, let us know immediately at <a href="mailto:contact@@dataswift.io">
        contact@@dataswift.io</a></p>
}