name: CI

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - dev

env:
  AWS_REGION: eu-west-1

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Cache - GHA
        uses: actions/cache@v2
        with:
          path: ~/.cache/coursier/v1/https
          key: ${{ runner.OS }}-coursier-cache

      - name: Add extra resolvers
        run: curl https://${{ secrets.ARTIFACTS_CACHE_BUCKET }}/resolvers.sbt --create-dirs -o ~/.sbt/resolvers.sbt

      - name: Setup
        uses: actions/setup-java@v1
        with:
          java-version: 11
          java-package: jdk
          architecture: x64

      - name: Init Submodule for schema
        run: git submodule init

      - name: Update Submodule for schema
        run: git submodule update

      - name: Test
        run: sbt clean test -Dconfig.file=hat/conf/application.test.conf

      # - name: Coverage - off until we re-add Coverage
      #   run: sbt "project hat" coverage test -Dconfig.file=hat/conf/application.test.conf

      - name: Build
        run: sbt Docker/stage && docker build hat/target/docker/stage

      - name: AWS - Configure
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DEPLOYER_SHARED_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEPLOYER_SHARED_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Cache - Upload
        run: aws s3 sync ~/.cache/coursier/v1/https/ s3://${{ secrets.ARTIFACTS_CACHE_BUCKET }} --sse AES256 --follow-symlinks --no-progress
